

.main_page_button {
  color: #8b8b8b;
}

.categories_button {
  color: #424436;
}



.title {
  width: 1360px;
  height: 70px;  
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  color: #424436;
  margin: 40px 0;
}

.categories_container  {
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 60px;  
}

