.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 40px;
  margin-top: clamp(40px, calc(40px + (1440px - 100vw) * 0.06), 75px);
}

.navigation > a {
  display: flex;
  font-weight: 500;
  font-family: Montserrat;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #8b8b8b;
  text-align: center;
  font-size: clamp(0.875rem, 0.833rem + 0.19vw, 1rem);
  line-height: 126%;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.navigation > a:active {
  transform: scale(0.95);
}
.navigation > a:hover {
  background-color: #f2f6d3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.line {
  width: 16px;
  height: 1px;
  background: #ddd;
}
.title {
  font-size: clamp(2rem, 1.333rem + 2.96vw, 4rem);
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 40px;
}



.products_list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 80px;
}

@media (max-width: 1000px) {
  .products_list {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .products_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 360px) {
  .products_list {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 56px;
  }
}
