.form_wrapper {
  display: flex;
  padding: 24px 32px 0px 32px;
  margin-bottom: 108px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  background: linear-gradient(80.46deg, #87933d -0.68%, #55610b 66.66%);
}

.title {
  font-size: clamp(2.5rem, 2rem + 2.22vw, 4rem);
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
}

.form_sale {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.form_image {
  width: 58%;
  object-position: right;
  object-fit: cover;
}

.form_block {
  width: 42%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_input {
  width: 100%;
  padding: 16px 32px;
  border-radius: 6px;  
  border: 1px solid #fffff1;
  background: transparent;
  font-size: 20px;  
  line-height: 130%;
  overflow: hidden; 
}

.form_input::placeholder {
  color: #ffffff;
}

.btn {
  padding: 16px 32px;
  border-radius: 6px;
 
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  color: #282828;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .form_wrapper {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .form_item {
    padding: 16px 20px;
  }
}

@media screen and (max-width: 480px) {
  .form_wrapper {
    padding: 24px 20px 0 20px;
  }

  .title {
    margin-top: 0;
  }

  .form__container {
    flex-direction: column-reverse;
  }
  .form_image {
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .form_wrapper {
    padding: 24px 20px 0 20px;
  }

  .title {
    margin-top: 0;
  }

  .form__container {
    flex-direction: column-reverse;
  }

  .form_image {
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  .form_item {
    .form-input {
      padding: 16px 10px;
    }
  }
}
