.main {
    display: flex;
    flex-direction: column;
    background: url(../../media/main_banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
  }
  
  .block{
      padding-bottom: 13.12rem; /* 210 / 16*/
  }
  
  .title {
    max-width: 1360px;
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 110%; /*  105,6(line-height)/96 (font-size)*100  */
    padding-top: clamp(80px, (10vw + 44px), 90px);
  }
  
  .btn {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    background: #92A134;  
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .btn:hover {
    background-color: #2f8b2f;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .btn a {
    padding: 16px 56px;
  }