.main {
  display: flex;
  flex-direction: column;
  background: url(../../media/main_banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.block {
  padding-bottom: 13.12rem; /* 210 / 16*/
}

.title {
  max-width: 1360px;
  color: #fff;
  font-size: clamp(3.25rem, 2.333rem + 4.07vw, 6rem);
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 110%; /*  105,6(line-height)/96 (font-size)*100  */
  padding-top: clamp(80px, (10vw + 44px), 90px);
}

.btn {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  background: #92a134;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #2f8b2f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.btn:active {
  transform: scale(0.95);
}

.btn a {
  padding: 16px 56px;
}

@media (max-width: 1000px) {
  .block {
    padding-bottom: 7.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-weight: 600;
    font-size: 64px;
    padding-top: clamp(110px, calc(10vw - 2px), 90px);
  }

  .block {
    padding-bottom: 20.37rem;
  }
}

@media (max-width: 480px) {
  .block {
    padding-bottom: 13.4rem;
  }

  .btn a {
    padding: 12px 52px;
  }
}

@media (max-width: 360px) {
  .block {
    padding-bottom: 15.7rem;
  }

  .btn a {
    padding: 12px 52px;
  }
}
