.categories{
    display: flex;
    margin-bottom: 80px;

}

.categories_container {
  
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 40px auto;
  align-items: center;
 
}


@media (max-width: 1200px) {
  .categories_container {
    gap: 20px;
    margin: 32px 0;
  }
}
