.navigation {
    display: flex;
    justify-content: space-between;
    max-width: 603px;
    max-height: 36px;
    top: 40px;
    left: 40px;  
    position: relative;
    align-items: center; /* выровняла линии по центру (были сверху) */
}


.item {
    color: #8B8B8B;
    border: 1px solid #DDDDDD;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: center;
    padding: 8px 16px;
    margin: auto;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
}

.item:last-child {
    color: #424436;
}

.line {
    width: 16px; 
    height: 1px;
    border: 1px solid #DDDDDD;
}

