.product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 900px;
    margin: 20px auto;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.product > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product > div a {
    background-color: green;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    width: fit-content;
    text-decoration: none;
}
