.navMenuPages{
    width: 603px;
    height: 36px;
    top: 168px;
    left: 40px;
    margin-bottom: 20px;
    
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
    margin-top: 122px;
    max-width: 1,360px;
    max-height: 574px;
    gap: 32px;
}

.product img {
    width: 57%;
    min-height: auto;
    object-fit: cover;
    border-radius: 12px; 
    /* определяет, как содержимое заменяемого элемента, такого как <img> или <video>, должно заполнять контейнер относительно его высоты и ширины. */

}

.product > div {
    max-width: 548px;
    max-height: 574px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.product > div a {
    /* для ссылки Read more */
    cursor: pointer;
    color: #424436;
    width: fit-content;    
    font-size: 16px;   
    line-height: 20.8px;
    text-align: left;
    text-decoration: underline;
}

.product > h2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: left;
}

.price {
   position: relative;
   max-width: 359px;
   max-height: 70px;
   gap: 16px;
}

.prices {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    max-height: 70px;
    gap: 32px;
    position: relative;
}

.priceReal {
    width: 147px;
    height: 70px;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    color: #424436;    
}

.priceDisc{
    width: 101px;
    height: 52px;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    text-align: left;
    color: #8B8B8B;
    text-decoration: line-through;
    position: absolute;
    bottom: 0;
    right: 0;
}

.discount_percent{
    max-width: 63px;
    max-height: 34px;
    padding: 4px 8px;
    gap: 10px;
    border-radius: 6px;  
    background-color: #92A134;
    color: white;
    font-size: 16px;  
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.03em;
    position: absolute;
    top: 0; 
    right: 0;
}
.counter_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    font-size: 16px; 
    gap: 32px; 
}

.descr_text{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #282828;
}

.descr{
    width: 548px;
    height: 306px;   
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #424436;      
}

.fullDescr{
    width: 548px;
    height: 227px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
}

.readmore_text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    color: #424436;
     
}