.btn {
  border-radius: 6px;
  padding: 6px 16px;
  background-color: #92a134;
  color: white;
}
.btn:hover {
  background-color: #2f8b2f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.btn:active {
  transform: scale(0.9);
}
