.navigation_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 40px;
  margin-top: clamp(40px, calc(40px + (1440px - 100vw) * 0.06), 75px);
}

.navigation_container button {
  display: flex;
  font-weight: 500;
  font-family: Montserrat;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #8b8b8b;
  text-align: center;
  font-size: clamp(0.875rem, 0.833rem + 0.19vw, 1rem);
  line-height: 126%;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

a.active {
  color: black;
}

.navigation_container button:active {
  transform: scale(0.95);
}

.navigation_container button:hover {
  background-color: #f2f6d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dark.navigation_container button:hover {
  color: #20e220;
}

#last_button {
  color: #424436;
}

.line {
  width: 16px;
  height: 1px;
  background: #ddd;
}

.dark #last_button {
  color: white;
}

@media (max-width: 768px) {
  .navigation_container {
    display: none;
  }
}