.order_details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.order_details>h2 {
    font-size: 40px;
    font-weight: 700;
    color: #424436;
    
}

.order_calculations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 484px;
    max-height: 190px;
}

.order_calculations p:first-child {
    font-size: 40px;
    font-weight: 500;
    color: #8B8B8B;
}

.total_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_info p {
    font-size: 40px;
    font-weight: 500;
    color: #8B8B8B;
}

.total_info p:last-child {
    font-size: 64px;
    font-weight: 700;
    color: #282828;
    padding-right: 25px;
}

.input_form {
    max-width: 430px;
    max-height: 276px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.input_form input {
    width: 100%; 
    padding: 16px;
    border-radius: 6px;
    background-color: #FFFFF1;
    border: 1px solid #DDDDDD;
    font-size: 20px;
    font-weight: 500;
    color: #8B8B8B;
}

.input_form button {
    padding: 16px;
    border-radius: 6px;
    background-color: #92A134;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 16px;
    background-color: #7d8d27;
}

.input_form button:hover {
    cursor: pointer;
}