.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  max-width: 1440px;
  font-size: 20px;
  padding: 30px 40px 28px 40px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;  
}

.menu li a:hover {
  color: #92a134;
}

.active{
  right: 0;
}

.link {
  font-size: clamp(16px, 16px + 0.595vw, 20px);
  line-height: 130%;
}

.active_link {
  color: #92a134;
}

.btn_hidden {
  display: none;
}

@media (max-width: 1000px) { 
  .menu {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 35px 20px 30px 20px;    
    gap: 10px;
  }
  .link {
    font-size: 16px;
  }
  
}

@media (max-width: 480px) {
  .menu {
    display: none;
  }
  
  /* Отображаем кнопку и элементы навигации справа в бургер-меню */
  .menu.active {
    padding: 100px 20px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: fixed;
    width: 59%;
    height: 100%;  
    font-size: 24px;
    font-style: normal;    
    line-height: 130%;
    
  }

  .btn .nav_item {
    text-align: left;
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }

  

  /* Стили для кнопки скидок */
  .btn_hidden {
    display: block;
    width: auto;   
    color: #333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  .btn {
    display: none;
  }

  /* 

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 58%;
    height: 100vh;
    background-color: #fffff1;
    transition: right 1s;
    z-index: 10;
    transition: left 1s;

    padding-top: 100px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }  */

  /* .dark .nav_list {
      color: white;
      background: #282828;
    } */

  /* .menu li {
    padding-bottom: 36px;
  }

  .nav_item {
    margin: 10px 0;
  }

  .nav_item:nth-child(n + 2) {
    margin-right: 0;
  }

  .active {
    display: block;
    right: 0;

    padding-top: 100px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  .menu li {
    padding-bottom: 36px;
  }

  .nav_item {
    margin: 10px 0;
  }

  .nav_item:nth-child(n + 2) {
    margin-right: 0;
  }

  .btn {
    display: none;
  } */

  /* .btn_hidden {
    display: block;
  } */
}

@media (max-width: 360px) {
  .menu {
    font-size: 18px;
    padding-left: 32px;
  }

  .menu li {
    padding-bottom: 32px;
  }
}
