.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40 auto;
  color: #282828;
}

.container h2 {
  margin-right: 32px;
  font-size: clamp(2rem, 1.333rem + 2.96vw, 4rem);
  line-height: 110%;
}

.container button {
  padding: 8px 16px;
  background: #FFFFF1;
  border-radius: 6px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  line-height: 126%;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.container button:active {
    transform: scale(0.90);
}

.container button:hover {
    color: #0c7d0c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.line {
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

@media (max-width: 1000px) {
  .container {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .line {
    display: none;
  }

  .container button {
    display: none;
  }
}
