.categories-item{
    width: 100%;
    height: 422px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 40px;
}
 

/* .categories_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.categories_item-image {
  width: 100%;
  height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.categories_item-title {
  width: 275px;
  padding-left: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 130%;
} */
