.price_filter {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .price_filter p {  
    font-size: 20px;
    font-weight: 600;
    line-height: 77%;
    text-align: left;
    color: #424436;
    align-self: center;
  }
  .btn_hidden{
    visibility: hidden;
 }
 .form {
    display: flex;
    gap: 16px;
  }
  
  .form input {
    width: 112px;
    height: 36px;
    padding: 8px 16px;
    border: 1px solid #dddddd;
    border-radius: 7px;
    background-color: #ffffff;
  }
  
  .form input:last-child {
    display: none;
  }