* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact_title {
  color: var(--txt-black, #424436);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 40px;
}

.contact_container {
  display: grid;
  grid-template-columns: 1.42fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.contact_item {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--radius-big, 12px);
  background: var(--light-grey, #f2f6d3);
}

.contact_item h3 {
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.contact_item p,
.contact_item a {
  color: var(--txt-black, #424436);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.social_icons {
  display: flex;
  gap: 10px;
}

.social_icons i {
  font-size: 24px;
}

.map_container {
  margin-top: 20px;
}

iframe {
  width: 100%;
  height: 350px;
  grid-column: 1 / 3;
  border-radius: 12px;
  border: none;
}
