.btn {
  padding: 16px 0;
  width: 316px;
  border-radius: 6px;  
  color: #fff;
  text-align: center;
  font-size: clamp(1.125rem, 1.083rem + 0.19vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  white-space: nowrap;
  background: #92A134;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  
   
  }

  .btn:hover{
    background: #424436;
  }

 