/* .theme_toggle {
    border-radius: 30px;
    background-color: #8b8b8b;
    width: 60px;
} */

.theme_container {
    /* position: relative; */

    padding: 5px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}