*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  background: #fffff1;
  max-width: 1440px;
  margin: 0 auto;
}

ul,
li,
ol {
  list-style: none;
}

input:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  border: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.filters_bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
  gap: 40px;
}


.container {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  color: #424436;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

/* Светлая тема */
.light_theme {
  background-color: #ffffff;
}

/* Темная тема */
.dark_theme {
  background-color: #6e6c6c;
}