.btn {
    width: 70%;
    bottom: 130px;
    font-family: Montserrat;
    left: 15%;
    right: 16px;
    border-radius: 12px;
    padding: 12px 0;
    position: absolute;
    text-align: center;
    display: none;
    cursor: pointer;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .btn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  @media (max-width: 768px) {
    .btn {
  
      display: none;
  
    }
  }